/*********************************
 * GW Tech Collective Stylesheet 
 * Brandon Bernier
 * Mark Tentindo
 * Updated: 2016-02-04
 *********************************/
 
 /* Color Palette
  * Dark Green	- #4C9E15 (76,158,21)
  * Mid Green	- #71BF45 (113,191,69)
  * Light Green	- #9CCE77
  * Dark Gray	- #555
  * Mid Gray	- #999
  * Light Gray 	- #CCC
  */

/******************** General Elements ********************/
html {
	font-size: 16px;
}

body {
	color: #555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: 50px;
}

hr {
	background-color: #CCC;
	border: 0;
	height: 1px;
	margin: 8px 0;
}

p {
	margin: 1em 0;
}

#body {
	visibility: hidden;
}

/******************** Header Styles ********************/
h1, h2, h3, h4, h5, h6 {
	color: #4C9E15;
	font-weight: bold;
}

h1 {
	font-variant: small-caps;
}

/******************** Link Styles ********************/
a, a:visited {
	color: #4C9E15;
}

a:hover {
	color: #71BF45;
	text-decoration: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

footer a, footer a:visited, 
.navbar-default .navbar-nav li a,
.navbar-default .navbar-nav li a:focus, 
.navbar-default .navbar-nav li a:visited {
	color: white;
}

body a:hover,
footer a:hover, 
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu li a:hover,
#mc-subscribe:hover {
	color: #71BF45;
}

/******************** Navbar ********************/
.navbar {
	background: #555;
	border: 0;
	box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.navbar-brand {
	padding: 5px 15px;
}

.navbar-brand img {
	border-radius: 5px;
}

.navbar-default .navbar-nav .open .dropdown-menu li a {
	color:	#555;
}

.navbar-default .navbar-nav .open .dropdown-menu li a:hover {
	background-color: #CCC;
	font-weight: bold;
}

.dropdown-menu {
	margin-left: -1px;
}

.navbar-right {
	margin-right: 0;
}

.navbar-nav li .social_icons {
	padding: 9px 5px 0 5px;
}

/******************** Body ********************/
.header-img {
	background-color: white;
	border-bottom: solid 7px #4C9E15;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#logo {
	position: absolute;
	right: 2%;
	top: 60px;
	width: 13%;
}

#body {
	margin-top: 20px;
}

.event_image {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
	width: 49%;
}

/******************** Sidebar ********************/
#sidebar {
	border-left: solid 1px #CCC;
}

#sidebar hr {
	margin: 20px 0;
}

#tweets iframe {
	display: block !important; 
	margin: 0 auto;
}

/******************** Footer ********************/
.footer .navbar-bottom {
	background: #555;
	border-top: solid 7px #4C9E15;
	color: white;
	font-size: 14px;
	margin-top: 4%;
}

.footer-col {
	display: flex;
	height: 50px;
	justify-content: center;
}

.inner {
	align-self: center;
}

/******************** Executive Board ********************/
.board h4 {
	margin: 0 0 5px 0;
}

.board p {
	margin: 2px 0 0 0;
}

.board .panel-default {
	border-color: #CCC;
}

.board .panel-body, 
.board .panel-footer {
	padding: 8px;
}

.board .panel-body img {
	border-radius: 4px 4px 0 0;
}

/******************** Projects ********************/
#project_nav {
	border: 1px solid #CCC;
}

#project_nav ul {
	font-weight: bold;
	list-style-type: none;
	margin: 10px 0;
	padding: 0;
}

#project_body h2:first-of-type {
	margin-top: 0;
}

/******************** Smaller Media Adjustments ********************/
@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu li a,
	.navbar-default .navbar-nav .open .dropdown-menu li a:visited {
		color: white;
	}

	.navbar-default .navbar-nav .open .dropdown-menu li a:hover {
		color: #4C9E15;
	}

	#sidebar {
		border-top: solid 2px #555;
		margin-top: 30px;
	}
}

@media (max-width: 991px) {
	.navbar-nav li .social_icons {
		display: none;
	}

	.footer-col {
		height: 30px;
	}

	.footer .row {
		padding: 5px 0 10px 0;
	}
}



/*****************************************************************************/
/****************************** OrgSync Modules ******************************/
/*****************************************************************************/

/******************** News/Blog ********************/
.post_entry {
	background: #f5f5f5;
	border-bottom: 1px solid #CCC;
	border-left: 6px solid #4C9E15;
	border-right: 1px solid #CCC;
	box-shadow: rgba(88, 88, 90, 0.3) -3px -2px 9px 0px;
	margin-bottom: 50px;
	padding: 10px 40px 20px 40px;
}

.news_post_body {
	display: block !important;
}

.new-tag {
	display: none;
}

#module_news ul {
	list-style-type: none;
	padding-left: 0;
}

.news_info  {
	border-bottom: 2px solid #4C9E15;
	font-size: 24px;
	font-weight: bold;
	font-variant: small-caps;
}

.news_info strong {
	color: #555;
	float: right;
	font-size: 16px;
}

/******************** Mini Calendar ********************/
#module_mini_calendar {
	margin-top: 12px;
}

.mini_cal {
	background: #4C9E15;
	border: solid 1px #CCC;
	margin-top: 10px;
}

.mini_calendar {
	background-color: white;
}

.mini_calendar .empty {
	background: #FFF;
}

.mini_calendar caption {
	background-color: #4C9E15;
	color: #FFF;
	text-align: center;
}

.mini_calendar th {
	font-weight: normal;
	text-align: center;
	width: 26px;
}

.mini_calendar td {
	text-align: center;
}

.mini_calendar thead {
	background-color: #555;
}

.mini_calendar tbody td:first-child {
	border-left: 0px;
}

.mini_calendar tbody td:last-child {
	border-right: 0px;
}

.mini_calendar .day_with_events {
	background-color: #4C9E15;
	color: black;
}

.mini_calendar .day_with_events:hover{
	background: #71BF45;
	color: black;
}

.mini_cal_nav a {
	color: #4C9E15;
}

/******************** Quick Links List ********************/
#module_links_list * {
	border: 0;
	list-style-position: inside;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#module_links_list a:hover {
	text-decoration: underline;
}

.pod-header {
	background-color: white;
	color: #4C9E15;
	font-size: 1.25em;
	font-variant: small-caps;
	padding: 0px;
}

/******************** Full Calendar/Events ********************/
#calendar_controls a {
	background: #f5f5f5;
	padding: 0 10px;
}

#module_events .pod-header {
	display: none;
}

#module_events_list td {
	background-color: #f5f5f5;
}

/******************** Contact ********************/
#module_contact .pod-header {
	display: none;
}

#module_contact label {
	color: #4C9E15;
	font-size: 0.8em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#module_contact input, 
#module_contact textarea {
	background-color: #f5f5f5;
	border: 1px solid #CCC;
	color: #555;
	font-size: 1em;
	line-height: 150%;
	margin-bottom: 10px;
	padding: 10px;
	width: 318px;
}